.#{$nth-phone-prefix}-1 {
	> * {
		width: 100%;
		clear: none;
	}
}

$items: 2;
@while $items < 10 {
	.#{$nth-phone-prefix}-#{$items} {
		$width: 100 / $items;

		> * {
			width: #{$width}%;
			clear: none;

			&:nth-child(#{$items}n+1) {
				clear: both;
			}
		}

	}

	$items: $items + 1;
}


@media (min-width: $nth-tablet-width-min) {

	.#{$nth-tablet-prefix}-1 {
		> * {
			width: 100%;
			clear: none;
		}
	}

	$items: 2;
	@while $items < 10 {
		.#{$nth-phone-prefix}-#{$items} {
			> * {
				&:nth-child(#{$items}n+1) {
					clear: none;
				}
			}
		}

		.#{$nth-tablet-prefix}-#{$items} {
			$width: 100 / $items;

			> * {
				width: #{$width}%;

				&:nth-child(#{$items}n+1) {
					clear: both;
				}
			}

		}

		$items: $items + 1;
	}
}


@media (min-width: $nth-desktop-width-min) {

	.#{$nth-desktop-prefix}-1 {
		> * {
			width: 100%;
			clear: none;
		}
	}

	$items: 2;
	@while $items < 10 {
		.#{$nth-phone-prefix}-#{$items},
		.#{$nth-tablet-prefix}-#{$items} {
			> * {
				&:nth-child(#{$items}n+1) {
					clear: none;
				}
			}
		}

		.#{$nth-desktop-prefix}-#{$items} {
			$width: 100 / $items;

			> * {
				width: #{$width}%;

				&:nth-child(#{$items}n+1) {
					clear: both;
				}
			}

		}

		$items: $items + 1;
	}
}


@media (min-width: $nth-larger-desktop-width-min) {

	.#{$nth-larger-desktop-prefix}-1 {
		> * {
			width: 100%;
			clear: none;
		}
	}

	$items: 2;
	@while $items < 10 {
		.#{$nth-phone-prefix}-#{$items},
		.#{$nth-tablet-prefix}-#{$items},
		.#{$nth-desktop-prefix}-#{$items} {
			> * {
				&:nth-child(#{$items}n+1) {
					clear: none;
				}
			}
		}

		.#{$nth-larger-desktop-prefix}-#{$items} {
			$width: 100 / $items;

			> * {
				width: #{$width}%;

				&:nth-child(#{$items}n+1) {
					clear: both;
				}
			}

		}

		$items: $items + 1;
	}
}
