$items: 1;
@while $items <= $max-items-loop  {
	.#{$nth-phone-prefix}-#{$items} {

		$width: 100% / $items;

		> * {
			float: left;

			@if $items == 1 {
				clear: none;
				width: 100%;
			} @else {
				width: $width;

				&:nth-child(#{$items}n+1) {
					clear: both;
				}
			}
		}

	}

	$items: $items + 1;
}

@media (min-width: $nth-tablet-width-min) {

	$items: 1;
	@while $items <= $max-items-loop  {
		.#{$nth-phone-prefix}-#{$items} {
			> * {
				@if $items > 1 {
					&:nth-child(#{$items}n+1) {
						clear: none;
					}
				}
			}
		}

		.#{$nth-tablet-prefix}-#{$items} {
			$width: 100% / $items;

			> * {
				@if $items == 1 {
					clear: none;
					width: 100%;
				} @else {
					width: $width;

					&:nth-child(#{$items}n+1) {
						clear: both;
					}
				}
			}

		}

		$items: $items + 1;
	}
}

@media (min-width: $nth-desktop-width-min) {

	$items: 1;
	@while $items <= $max-items-loop  {
		.#{$nth-phone-prefix}-#{$items},
		.#{$nth-tablet-prefix}-#{$items} {
			> * {
				@if $items > 1 {
					&:nth-child(#{$items}n+1) {
						clear: none;
					}
				}
			}
		}

		.#{$nth-desktop-prefix}-#{$items} {
			$width: 100% / $items;

			> * {
				@if $items == 1 {
					clear: none;
					width: 100%;
				} @else {
					width: $width;

					&:nth-child(#{$items}n+1) {
						clear: both;
					}
				}
			}

		}

		$items: $items + 1;
	}
}

@media (min-width: $nth-larger-desktop-width-min) {

	$items: 1;
	@while $items <= $max-items-loop  {
		.#{$nth-phone-prefix}-#{$items},
		.#{$nth-tablet-prefix}-#{$items},
		.#{$nth-desktop-prefix}-#{$items} {
			> * {
				@if $items > 1 {
					&:nth-child(#{$items}n+1) {
						clear: none;
					}
				}
			}
		}

		.#{$nth-larger-desktop-prefix}-#{$items} {
			$width: 100% / $items;

			> * {
				@if $items == 1 {
					clear: none;
					width: 100%;
				} @else {
					width: $width;

					&:nth-child(#{$items}n+1) {
						clear: both;
					}
				}
			}
		}

		$items: $items + 1;
	}
}
