$nth-phone-prefix: 			nth-xs !default;
$nth-tablet-prefix: 		nth-sm !default;
$nth-desktop-prefix: 		nth-md !default;
$nth-larger-desktop-prefix: nth-lg !default;


$nth-tablet-width-min: 768px !default;
$nth-desktop-width-min: 1024px !default;
$nth-larger-desktop-width-min: 1200px !default;

$max-items-loop: 12 !default;
